@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: 'Roboto';
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0 auto;
}

/*header*/
.header{
    width: 100%;
    margin-bottom: 49px;
}
.header>.logo{
    margin-bottom:40px;
}
.header>.logo>a{
    font-weight: 400;
    font-size: 80px;
    color: #4BCAFF;
    text-decoration: none;
}
.header>.logo>a>span{
    color:black;
}
.navbar{
    background-color:#35444F;

}
.upper-menu{
    display: flex;
    justify-content: center;

}
.upper-menu>.upper-menu-item{
    display: flex;
    border-left: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    height: 69px;
    align-items: center;
}
.upper-menu>.upper-menu-item:first-child{
    padding: 24px 32px 18px 33px;
}
.upper-menu>.upper-menu-item:nth-child(2){
    padding: 24px 36px 18px 37px;
}
.upper-menu>.upper-menu-item:nth-child(3){
    padding: 24px 40px 18px;
}
.upper-menu>.upper-menu-item:last-child{
    padding: 24px 18px 18px 40px;
    border-right: 1px solid #FFFFFF;
}
.upper-menu>.upper-menu-item>.upper-menu-ref{
    text-decoration: none;
    color: white;
}
.upper-menu>.upper-menu-item:hover{
    background-color: #222F3A;
}

/* main */
.main{
    display: flex;
    justify-content: space-between;
}
.menu-aside-wrapper{
    width: 342px;
    font-weight: 400;
    font-size: 27px;
    color: #495863;
}
.menu-aside-items{
    border: 1px solid #000000;
}
.menu-aside-item{
    padding: 26px 0px 26px 44px;
}
.menu-aside-item:hover{
    padding: 27px 0px 27px 64px;
    background-color: #DBDBDB;
    color: #35444F;
}
.article-wrapper{
    display: flex;
    width:885px;
    flex-direction: column;
    color: #2C2C2C;

}
.article-image{
    width:885px;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 37px;
}
.article-image:hover .image-horse{
    height: 400px;

}
.image-horse{
    height: 381px;
}
.article-text{
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 18px;
}
.article-text:last-child{
    margin-bottom: 34px;
}

/* footer */
.footer{
    display:flex;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 30px;
}

.bottom-nav-links{
    display:flex;
}
.bottom-nav-links>li{
    padding: 20px 40px;
}
.bottom-nav-links>li>a:hover{
    color:#3181A6;
    border-bottom: 1px solid #3181A6;
}
.footer-text{
    padding-top: 20px;
    padding-bottom: 20px;
}
